* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #d0d0d0;
    color: #333;
}

header {
    background-color: #222;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

p, h1{
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #006f02;
}

section {
    padding: 0px 0px;
    text-align: center;
}


.hero {
    text-align: center;
    background-color: #70a972; 
    color: #b0c3b1;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#allHeaders{
    font-size: 2.5em;
}

.screen {
    background-color: #70a972;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: calc(33% - 40px);
    
    text-align:center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.screen h1 {
    font-size: 1.5em;
    color: #b0c3b1;
    text-align: left;
}

.screen p {
    font-size: 1em;
    margin-bottom: 10px;
    text-align:right;
    color: #c1d6c2;
}

#snakeCanvas {
    position: relative;
    width: calc(100%);
    height: calc(100%);
    margin: 0 auto;
}

.snakeGame{
    width: calc(33% - 40px);
    height: calc(33% - 40px);
}

menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 175px 85px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 10; 
    font-size: 1.8em; 
    white-space: nowrap;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-color: transparent;
}

menu:hover {
    color: #006f02;
}

#resultCalc{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: right;
    background-color: black;
    color: white;
    font-size: 2em;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    width: 350px;
    height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 17px 0px;

}

#fbScore,
#fbGreedyAIScore{
    position: absolute;
    top: 5%;
    left: 5%;
    /* transform: translate(-50%, -10%); */
    text-align: left;
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 85px;
    overflow: hidden;

}

#num1{
    top: 40%;
    left: 20%;
}

#num2{
    top: 40%;
    left: 40%;
}

#num3{
    top: 40%;
    left: 60%;
}

#num4{
    top: 56%;
    left: 20%;
}

#num5{
    top: 56%;
    left: 40%;
}

#num6{
    top: 56%;
    left: 60%;
}

#num7{
    top: 72%;
    left: 20%;
}

#num8{
    top: 72%;
    left: 40%;
}

#num9{
    top: 72%;
    left: 60%;
}

#num0{
    top: 88%;
    left: 40%;
}


#plus{
    top: 40%;
    left: 80%;
}

#minus{
    top: 56%;
    left: 80%;
    padding: 5px 34px;
}

#multiplication{
    top: 72%;
    left: 80%;
    padding: 5px 33px;
}

#divide{
    top: 88%;
    left: 80%;
    padding: 5px 35px;
}

#AC{
    top: 88%;
    left: 20%;
    padding: 5px 16px;

}

#equal{
    top: 88%;
    left: 60%;
}

.num{
    background-color: orange;
    color: white;
    font-size: 2em;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.num:hover{
    background-color: #222;
    color: white;
}



canvas {
    background-color: #bbd8bc;
    border-radius: 25px;
    z-index: 1; 
}

#snakeDiv,
#calcDiv,
#ftDiv,
#snakeGreedyDiv,
#snakeBFSDiv,
#fbDiv,
#fbGreedyDiv,
#tttDiv,
#pongGameDiv,
#pongAIGameDiv {
    position: relative;
    width: 100%; 
    height: 400px; 
    margin: 0 auto;
}

#snakeCanvas,
#calcCanvas,
#ftCanvas,
#snakeGreedyCanvas,
#snakeBFSCanvas,
#fbCanvas,
#fbGreedyCanvas,
#tttCanvas,
#pongGameCanvas,
#pongAIGameCanvas {
    width: 100%;
    height: 100%;
}

#games,
#tracking,
#ai{
    padding: 50px 0px;
}

#gaming,
#faceTracking,
#allAI{
    text-align:left;
}